.navbar {
  display: flex;
  justify-content: space-between; /* This will place items on the ends */
  align-items: center; /* Align items vertically */
  position: absolute; /* Position it absolutely */
  width: 100%; /* Ensure it spans the entire width */
  max-height: 6rem;
  top: 0;
  left: 0;
  z-index: 1000; /* High z-index to keep it on top */
  background-color:  #37AFA9; /* A more sophisticated color */
  padding: 10px 0px; /* Added horizontal padding for better spacing */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adding some shadow for depth */
  transition: padding 0.3s ease-in-out; /* Transition for smooth padding change */
}

.navbar-left, .navbar-right {
  display: flex;
  align-items: center;
}

.navbar-left{
  width: 50px;
  height: 50px;
}

.navbar:hover {
  padding: 30px 0px; /* Increased padding on hover */
}

.navbar-list {
  list-style: none;
  display: flex;
}

.navbar-item {
  margin: 0 15px;
}

.navbar-logo {
  margin-top: 3rem;
  margin-left: 2rem;
  width: 9rem; /* Width of the logo */
  height: auto; /* Height of the navbar */
  background-size: contain; /* Make sure the logo fits inside the dimensions */
  background-repeat: no-repeat;
  background-position: center; /* Center the logo */
  transition: all 0.3s ease-in-out;
  
}

.navbar-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px; /* Adding padding to make it look like a button */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover and active states */
}

.navbar-link:hover, .navbar-link:active {
  background-color: white; /* Change background to white */
  color: #37AFA9; /* Text color to the original navbar color */
  border-radius: 5px;
}
