/* Style for the main content container (not part of the footer but necessary) */

/* Style for the footer */
.footer {
  min-height: 10vh; /* Minimum height to take full viewport height */

  position: relative; /* Position the footer at the bottom of the container */
  bottom: 0; /* Align to the bottom */
  width: 100%; /* Full width */
  background-color: #37AFA9; /* Background color of the footer */
  color: white; /* Text color */
  text-align: center; /* Center align text */
}

.footer-links {
  list-style: none; /* Remove bullet points from the list */
  padding: 0; /* Remove default padding */
  display: flex; /* Display list items in a row */
  justify-content: center; /* Center list items */
  align-items: center; /* Align items vertically */
}

.footer-links li {
  margin: 0 10px; /* Space between list items */
}

.footer-links a {
  color: white; /* Link color */
  text-decoration: none; /* Remove underline from links */
}
